<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="D:\tanki\University\OOP\LAB\Lab1\src\main\resources\logs\app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="mainLogger" level="info" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="mainLoggerConsoleOnly" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <logger name="org.hibernate" level="DEBUG"/>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
<!--            <AppenderRef ref="LogToConsole"/>-->
        </Root>
    </Loggers>
</Configuration>